// src/styles/custom.scss

body {
    font-family: Arial, sans-serif;
}

.container {
    margin-top: 20px;
}

$font-size: 1.25rem; 
$letter-spacing: 2px; 
$nav-item-margin: 15px; 
$verde:#285E67;
$negro:#2B2B2B;

$logo-font-size: 30px; // Tamaño personalizado para el texto del logo

.navbar-brand {
  font-size: $logo-font-size; 
  letter-spacing: 1px; 
  color: $verde;        
}


.navbar-nav {
  .nav-link {
    font-size: $font-size; 
    letter-spacing: $letter-spacing; // Para hacer espacio entre letras
  }

  .nav-item {
    margin-right: $nav-item-margin; 
    color: $negro;
  }
}
.custom-text {
font-size: 65.34px;
font-weight: 600;
line-height: 82px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: $negro;

}
p{
    font-size: 20px;
    font-weight: 50;
}